@model GymPrimerParcialWeb.actividades

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>actividades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_actv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_actv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_act)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_act)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_actv }) |
    @Html.ActionLink("Back to List", "Index")
</p>
