@model IEnumerable<GymPrimerParcialWeb.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido_pat_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido_mat_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_nac_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domicilio.calle_dom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_pat_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_mat_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_nac_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domicilio.calle_dom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_usuario })
        </td>
    </tr>
}

</table>
