@model IEnumerable<GymPrimerParcialWeb.domicilio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.calle_dom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_casa_dom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colonia_dom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp_dom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.calle_dom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_casa_dom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colonia_dom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp_dom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_dom }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_dom }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_dom })
        </td>
    </tr>
}

</table>
