@model IEnumerable<GymPrimerParcialWeb.empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contrasena_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nombre_usu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contrasena_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombre_usu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_emp }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_emp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_emp })
        </td>
    </tr>
}

</table>
